<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mezu</title>
		<%= stylesheet_link_tag "/mezu/mezu.css" %>
	</head>

	<body>
		<div id="header">
			<h1 class="container"><%= link_to "Mezu", mezu_root_path %></h1>

			<% if Mezu::Config.available_locales.length > 1 %>
				<ul id="locales">
					<% Mezu::Config.available_locales.each do |locale| %>
						<li class="<%= (I18n.locale == locale) ? "current" : "" %>">
							<%= link_to t("mezu.languages.#{locale}"), "?l=#{locale}", :class => "locale-#{locale}" %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>

		<% if message = flash[:notice] %>
			<p class="container notice">
				<%= message %>
			</p>
		<% end %>

		<div id="content" class="container">
			<%= yield %>
		</div>
	</body>
</html>
