<h2><%= t("mezu.titles.new") %></h2>

<%= form_for :message, :url => mezu_messages_path, :method => :post do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f} %>
	<ul id="actions">
		<li><%= f.submit t("mezu.create") %></li>
		<li><%= link_to t("mezu.cancel"), mezu_messages_path %></li>
	</ul>
<% end %>